

<%#引入ejs模板%>
<%- include("part/header",{title:"个人中心",css:["index"],js:["part/title"],layui:true})%>
<%- include("part/canvas")%>


<%if(_id){%>
    <%# 用户已经登录%>
    &nbsp;
    <link rel="stylesheet" href="/css/usercenter.css">
    <div id="usercenter">
        <!--//导航条-->
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item"><a href="/">返回首页</a></li>
            <li class="layui-nav-item layui-this"><a href="javascript:">个人中心</a></li>
            <li class="user">Hi~ <span style="font-weight: bolder"><%=username%></span>，<a href="/logout">退出登录</a></li>
        </ul>

        <!--管理栏目-->
        <div class="layui-tab layui-tab-brief layui-bg-gray">
            <ul class="layui-tab-title">
                <li class="layui-this">个人信息</li>
                <li>修改密码</li>
                <li>发表文章</li>
                <li>管理文章</li>
                <li>上传头像</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form">
                        <table class="layui-table info">
                            <colgroup>
                                <col width="20%">
                                <col width="60%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>栏目</th>
                                    <th>值</th>
                                    <th>修改</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>用户名</td>
                                    <td class="info-content"><%=username%></td>
                                </tr>
                                <tr>
                                    <td>性别</td>
                                    <td class="info-content">
                                        <div class="show"><%=userInfo.sex||"保密"%></div>
                                        <div class="hide" style="display: none">
                                            <div class="layui-form-item">
                                                <!--<label class="layui-form-label">单选框</label>-->
                                                <div class="layui-input-block">
                                                    <input type="radio" name="sex" value="男" title="男">
                                                    <input type="radio" name="sex" value="女" title="女">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="update layui-btn">修改</div></td>
                                </tr>
                                <tr>
                                    <td>年龄</td>
                                    <td class="info-content">
                                        <div class="show"><%=userInfo.age||"保密"%></div>
                                        <div class="hide" style="display: none">
                                            <div class="layui-form-item">
                                                <!--<label class="layui-form-label">输入框</label>-->
                                                <div class="layui-input-inline">
                                                    <input type="text" name="age" lay-verify="age" placeholder="请输入年龄" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="update layui-btn">修改</div></td>
                                </tr>
                                <tr>
                                    <td>邮箱</td>
                                    <td class="info-content">
                                        <div class="show"><%=userInfo.email||"保密"%></div>
                                        <div class="hide" style="display: none">
                                            <div class="layui-form-item">
                                                <!--<label class="layui-form-label">输入框</label>-->
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="mail" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="update layui-btn">修改</div></td>
                                </tr>
                                <tr>
                                    <td>手机号</td>
                                    <td class="info-content">
                                        <div class="show"><%=userInfo.tel||"保密"%></div>
                                        <div class="hide" style="display: none">
                                            <div class="layui-form-item">
                                                <!--<label class="layui-form-label">输入框</label>-->
                                                <div class="layui-input-inline">
                                                    <input type="text" name="tel" lay-verify="tel" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="update layui-btn">修改</div></td>
                                </tr>
                                <tr>
                                    <td>个性签名</td>
                                    <td class="info-content">
                                        <div class="show"><%=userInfo.status||"保密"%></div>
                                        <div class="hide" style="display: none">
                                            <div class="layui-form-item">
                                                <!--<label class="layui-form-label">输入框</label>-->
                                                <div class="layui-input-inline">
                                                    <input value="<%=userInfo.status||"保密"%>" type="text" name="status" placeholder="请输入个性签名" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="update layui-btn">修改</div></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="layui-btn" lay-submit lay-filter="update">保存修改</button>
                    </form>
                </div>
                <div class="layui-tab-item">内容2</div>
                <div class="layui-tab-item">内容3</div>
                <div class="layui-tab-item">内容4</div>
                <div class="layui-tab-item">内容5</div>
            </div>
        </div>

    </div>


    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element',"form"], function(){
            var element = layui.element;

            //表单提交
            var form = layui.form;
            //前端验证
            form.verify({
                age : function(value){
                    if(value){
                        var intValue = parseInt(value);
                        if ( value != intValue )return "年龄不正确";
                    }
                }
                ,tel : function(value){
                    if ( value ){
                        if( !/^1[345678]\d{9}$/.test(value) )return "手机号格式不正确";
                    }
                }
                ,mail : function(value){
                    if(value){
                        if(!/^[\da-z_]+@[\da-z]+(\.[a-z]+)+$/i.test(value))return "邮箱格式不正确";
                    }
                }
            });
            //监听提交
            form.on('submit(update)', function(data){
                //console.log(data.field);
                var postData = {
                    age : data.field.age-0
                    ,sex : data.field.sex || ""
                    ,email : data.field.email
                    ,tel : data.field.tel
                    ,status : data.field.status
                };

                $.ajax({
                    method : "POST"
                    ,url : "/update"
                    ,data : postData
                    ,success:function(data){
                        if ( data.code === 1 ){
                            layer.alert(data.msg,function(){
                                location.reload();
                            });
                        } else{
                            layer.alert(data.msg,function(){
                                layer.close(layer.index);
                            });
                        }
                    }
                });



                return false;
            });
        });
    </script>

    <script>
        (function(){

            var $update = $("#usercenter table.info .update")

            ;

            $update.click(function(){
                var $content = $(this).parent().siblings(".info-content");
                $content.find(".show").toggle();
                $content.find(".hide").toggle();
            });

        })();
    </script>


<%}else{%>
    请登录，5秒后返回 <a href="/">首页</a>
    <script>
        setTimeout(() => {
            location.href = "/";
        },5000);
    </script>
<%}%>



<%#引入ejs模板代码%>
<%- include("part/footer")%>









